

<div class="pt-3 pb-3 pl-3"><h4 >Mavzuni  tahrirlash</h4></div>

<div class="row" >
    <div class="col-md-10 mt-3" >
        <form method="POST"  action="<%=`/section/${result._id}?_method=PUT`%>" class="col-md-8">
            <div class="mb-3">
                <label>Mavzu nomi</label>
                <input type="text" class="form-control" value="<%= result.name %>" name="name"/>
            </div>
            
            <button type="submit" class="btn btn-primary col-md-5 mt-3">Saqlash</button>
        </form>
    </div>
</div>



<!-- Dropzone js -->



