
<style>
    .country_img{
        width: 100px;
        height: 70px; 
    }
    .create_btn{
        display: inline-block;
    }
</style>

<div class="page-title-box">
    <div class="row align-items-center">
        <div class="col-sm-6">
            <h4 class="page-title">Davlatlar ro'yhati</h4>
        </div>
        <div class="col-sm-6">
            <ol class="create_btn">
                <li class="breadcrumb-item">
                    <button type="button" class="btn btn-primary waves-effect waves-light" data-toggle="modal"
                        data-target=".bs-example-modal-lg">Yaratish</button>
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card m-b-30">
            <div class="card-body">

                <table id="datatable-buttons"
                    class="table table-striped table-bordered dt-responsive nowrap text-center"
                    style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>Nomi</th>
                            <th style="width: 10%;">Sozlama</th>
                        </tr>
                    </thead>
                    <tbody class="select_group">
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>





<!-- -----------------   CREATE   -----------------  -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg"> 
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myLargeModalLabel">
                    Yaratish
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <div class="mb-3 ">
                    <label for="name">Davlat nomi </label>
                    <input type="text" name="name" id="name" class="form-control" />
                </div>

                <div class="mb-3 ">
                    <label for="image">Rasm</label>
                    <input type="file" name="image" id="image" class="form-control" />
                </div>

                <button type="button" id="sendData" class="btn btn-outline-primary">Saqlash</button>
        

            </div>
        </div>
    </div>
</div>






<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/axios.min.js"></script>
<script>



    const sendDatas = document.getElementById("sendData")
    sendDatas.addEventListener("click", () => { 
        let formData = new FormData();

        const name = document.getElementById("name").value;
        const image = document.getElementById("image").files[0];
       
        formData.append("name", name);
        formData.append("image", image);

        axios({
            url: "/davlat/add",
            method: "POST",
            data: formData,
            headers: { 'Content-Type': 'multipart/form-data' }
        })
            .then(res => {
                location.reload()
            })
            .catch(err => {
                console.log(err);
            })
    })

        


    axios.get("/davlat/all")
        .then(async (res) => {
            const result = res.data
            let select = $(".select_group");
            await select.html("");
            result.forEach((item) => {
                select.append(
                    `<tr>
                        <td>${item.name}</td>
                        <td> <img class="country_img" src="/uploads/country/${item.image}" alt="image" ></td>
                        <td>
                            <a onclick="deleted('${item._id}')"  type="button"  class="btn btn-outline-danger text-danger"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                    `
                );
            });
        });


    function deleted(delete_id) {
        axios.delete(`/davlat/${delete_id}`)
            .then(res => {
                location.reload()
            })
    }


</script>