<div class="page-title-box">
    <div class="row align-items-center">
        <div class="col-sm-6">
            <h4 class="page-title">Video Davlat uchun</h4>
        </div>
        <div class="col-sm-6">
            <ol class="">
                <li class="breadcrumb-item">
                    <button type="button" class="btn btn-primary waves-effect waves-light" data-toggle="modal"
                        data-target=".bs-example-modal-lg">Yaratish</button>
                </li> 
            </ol>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card m-b-30">
            <div class="card-body">

                <table 
                    class="table table-striped table-bordered dt-responsive nowrap text-center"
                    style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>Davlatlar</th>
                            <th>Video</th>
                            <th style="width: 10%;">Sozlama</th>
                        </tr>
                    </thead>
                    <tbody class="select_group">
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>





<!-- -----------------   CREATE   -----------------  -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myLargeModalLabel">
                    Yaratish
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <div class="form-group row">
                    <label for="example-text-input-lg" class="col-sm-6 col-form-label">Davlatlarni tanlash</label>
                    <div class="col-sm-12">
                        <select class="form-control pl-1" value="" id="davlatlar">
                        </select>
                    </div>
                </div>


                <div class="mb-3">
                    <label for="">Davlatning videosi </label>
                    <input type="file" id="video" class="form-control" />
                </div>


                <button type="button" id="sendData" class="btn btn-outline-primary">Saqlash</button>


            </div>
        </div>
    </div>
</div>






<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/axios.min.js"></script>
<script>

    axios.get("/davlat/all")
        .then(async (res) => {
            const result = res.data
            let select = $("#davlatlar");
            await select.html("");
            select.append(`<option value="" style="font-weight: bold">Davlatlar tanlash</option> `);
            result.forEach((item, index, value) => {
                select.append(
                    `<option value="${item._id}" style="font-weight: bold">${item.name}</option>`
                );
            });
        });

    const sendDatas = document.getElementById("sendData")
    sendDatas.addEventListener("click", () => {
        let formData = new FormData();

        const davlatlar = document.getElementById("davlatlar").value
        const video = document.getElementById("video").files[0];

        formData.append("video", video);
        formData.append("country", davlatlar);


        axios({
            url: "/videoAdd/add",
            method: "POST",
            data: formData,
            headers: { 'Content-Type': 'multipart/form-data' }
        })
            .then(res => {
                location.reload()
            })
            .catch(err => {
                console.log(err);
            })
    })


    axios.get("/videoAdd/all")
        .then(async (res) => {
            const result = res.data
            let select = $(".select_group");
            await select.html("");
            result.forEach((item) => {
                select.append(
                    `<tr>
                        <td>${item.country.name}</td>®´
                        <td>
                            <a class="popup-vimeo mo-mb-2" href="/uploads/video/${item.video}">
                                <i class="fab fa-youtube font-30 text-danger"></i>
                            </a>
                        </td>
                        <td>
                            <a onclick="deleted('${item._id}')"  type="button"  class="btn btn-outline-danger text-danger"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                    `
                );
            });
        });


    function deleted(delete_id) {
        axios.delete(`/videoAdd/${delete_id}`)
            .then(res => {
                location.reload()
            })
    }


</script>