<!-- <div class="pt-3 pb-3 pl-3">
    <h4>Foydalanuchini tahrirlash</h4>
</div>

<div class="row">
    <div class="col-md-12 mt-3"
        style="display: flex; flex-direction: row; justify-content: space-between; flex-wrap: wrap;">

        <form method="POST" action="<%=`/userall/${result._id}?_method=PUT`%>" class="col-md-8">
            <div class="mb-3">
                <label>Foydalanuvchi ismi</label>
                <input type="text" class="form-control" value="<%= result.name %>" name="name" />
            </div>
           
               
            <button type="submit" class="btn btn-primary col-md-5 mt-3">Saqlash</button>
        </form>

    </div>

</div> -->