


<div class="new_center_title">
    <div class="container">
        <a href="#" class="away">O'quv markazlari</a>
        <div class="title">
            <span>
                <img src="/website/img/centers.png" alt="">
            </span>
            <h1>RIKS EDUCATION LANGUAGE CENTER</h1>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <ul>
                    <li><a class="active" href="#">O'quv markazi haqida</a></li>
                    <li><a href="#">Kurslar</a></li>
                    <li><a href="#">Filiallar</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="new_center_info">
    <div class="container">
        <div class="row">
            <div class="col-md-4 order-2 order-md-1">
                <div class="logo">
                    <img src="/website/img/riks_logo.png" alt="">
                </div>
                <div class="all_info">
                    <div class="top">
                        <h3>Asosiy filial</h3>
                    </div>
                    <div class="center">
                        <div class="row_info">
                            <div class="img">
                                <img src="/website/img/info1.png" alt="">
                            </div>
                            <div class="text">
                                <h4>+998 (93) 777-80-77</h4>
                                <h4>+998 (93) 777-80-77</h4>
                            </div>
                        </div>
                        <div class="row_info">
                            <div class="img">
                                <img src="/website/img/info2.png" alt="">
                            </div>
                            <div class="text">
                                <h5>riksedu@gmail.com</h5>
                            </div>
                        </div>
                        <div class="row_info">
                            <div class="img">
                                <img src="/website/img/info3.png" alt="">
                            </div>
                            <div class="text">
                                <h5>www.riksedu.uz</h5>
                            </div>
                        </div>
                        <div class="row_info">
                            <div class="img">
                                <img src="/website/img/info4.png" alt="">
                            </div>
                            <div class="text">
                                <h5>Toshkent shahar, Yunusobod tumani, 4-daha, 10uy 1000217 Mo’ljal: MegaPlanet savdo markazi</h5>
                            </div>
                        </div>
                        <div class="row_info">
                            <div class="img">
                                <img src="/website/img/info5.png" alt="">
                            </div>
                            <div class="text">
                                <h5>93, 21, 97, 90A, “Shahriston” metro bekati</h5>
                            </div>
                        </div>
                        <div class="links">
                            <a href="#">
                                <img src="/website/img/face.png" alt="">
                            </a>
                            <a href="#">
                                <img src="/website/img/tg.png" alt="">
                            </a>
                            <a href="#">
                                <img src="/website/img/insta.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <h1 class="new">O'quv markaz yangiliklari</h1>
                <div class="news">
                    <a href="#">
                        <div class="new_item">
                            <div class="img"><img src="/website/img/cours-carousel.png" alt=""></div>
                            <div class="text">
                                <p>IELTS guruhiga qabul boshlandi</p>
                                <h3>02.12.2019</h3>
                            </div>
                        </div>
                    </a>
                    
                    <a href="#">
                        <div class="new_item">
                            <div class="img"><img src="/website/img/cours-carousel.png" alt=""></div>
                            <div class="text">
                                <p>IELTS guruhiga qabul boshlandi</p>
                                <h3>02.12.2019</h3>
                            </div>
                        </div>
                    </a>

                    <a href="#">
                        <div class="new_item">
                            <div class="img"><img src="/website/img/cours-carousel.png" alt=""></div>
                            <div class="text">
                                <p>IELTS guruhiga qabul boshlandi</p>
                                <h3>02.12.2019</h3>
                            </div>
                        </div>
                    </a>

                </div>

                <h1 class="new">Mijozlar fikri</h1>
                <div class="comments">
                    <div class="top">
                        <div class="stars">
                            <span>
                                <i class="fa fa-star sariq"></i>
                                <i class="fa fa-star sariq"></i>
                                <i class="fa fa-star sariq"></i>
                                <i class="fa fa-star sariq"></i>
                                <i class="fa fa-star"></i>
                            </span>
                            <h1>4.0</h1>
                        </div>
                        <h2>O’quv markaz reytingi</h2>
                    </div>
                    <div class="item_comment">
                        <div class="pro">
                            <div class="left">
                                <span class="img">
                                    <img src="/website/img/cours-carousel.png" alt="">
                                </span>
                            </div>
                            <div class="right">
                                <h3>Mardonov Abdulaziz</h3>
                                <div class="rey">
                                    <span>
                                        <i class="fa fa-star sariq"></i>
                                        <i class="fa fa-star sariq"></i>
                                        <i class="fa fa-star sariq"></i>
                                        <i class="fa fa-star sariq"></i>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <b>25.09.2019</b>
                                </div>
                            </div>
                        </div>
                        <div class="text">
                            <p>Для тех, кто не сталкивался с SQL и хочет немедленно начать писать запросы...</p>
                        </div>
                    </div>
                    <div class="item_comment">
                        <div class="pro">
                            <div class="left">
                                <span class="img">
                                    <img src="/website/img/cours-carousel.png" alt="">
                                </span>
                            </div>
                            <div class="right">
                                <h3>Mardonov Abdulaziz</h3>
                                <div class="rey">
                                    <span>
                                        <i class="fa fa-star sariq"></i>
                                        <i class="fa fa-star sariq"></i>
                                        <i class="fa fa-star sariq"></i>
                                        <i class="fa fa-star sariq"></i>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <b>25.09.2019</b>
                                </div>
                            </div>
                        </div>
                        <div class="text">
                            <p>Для тех, кто не сталкивался с SQL и хочет немедленно начать писать запросы...</p>
                        </div>
                    </div>
                    <div class="item_comment">
                        <div class="pro">
                            <div class="left">
                                <span class="img">
                                    <img src="/website/img/cours-carousel.png" alt="">
                                </span>
                            </div>
                            <div class="right">
                                <h3>Mardonov Abdulaziz</h3>
                                <div class="rey">
                                    <span>
                                        <i class="fa fa-star sariq"></i>
                                        <i class="fa fa-star sariq"></i>
                                        <i class="fa fa-star sariq"></i>
                                        <i class="fa fa-star sariq"></i>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <b>25.09.2019</b>
                                </div>
                            </div>
                        </div>
                        <div class="text">
                            <p>Для тех, кто не сталкивался с SQL и хочет немедленно начать писать запросы...</p>
                        </div>
                    </div>
                    <a class="all_view" href="#">Barchasini ko'rish ></a>
                </div>
            </div>
            <div class="col-md-8 order-1 order-md-2">
                <h1 class="info_center">O'quv markazi haqida</h1>
                <p class="centerp">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sint ad libero inventore molestiae id in pariatur, qui rerum officiis voluptate illum natus asperiores consequatur adipisci sit. Nisi, incidunt accusantium.
                </p>
                <p class="centerp">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sint ad libero inventore molestiae id in pariatur, qui rerum officiis voluptate illum natus asperiores consequatur adipisci sit. Nisi, incidunt accusantium.
                </p>
                <div class="bino">
                    <img src="/website/img/bino.png" alt="">
                </div>
                <h1 class="info_center">Galereya</h1>
                <div class="tab_index_all">
                    <ul>
                        <li class="activ">Dars jarayoni</li>
                        <li>Natijalar</li>
                        <li>O'qituvchilarimiz</li>
                    </ul>
                    <div class="tab_con">
                        <nav class="active_nav">
                            <div class="flex_gallery">
                                <div class="row_gallery">
                                    <img src="/website/img/gallery.png" alt="">
                                </div>
                                <div class="row_gallery">
                                    <img src="/website/img/gallery.png" alt="">
                                </div>
                                <div class="row_gallery">
                                    <img src="/website/img/gallery.png" alt="">
                                </div>
                            </div>
                        </nav>
                        <nav>
                            <div class="flex_gallery">
                                <div class="row_gallery">
                                    <img src="/website/img/gallery.png" alt="">
                                </div>
                                <div class="row_gallery">
                                    <img src="/website/img/gallery.png" alt="">
                                </div>
                                <div class="row_gallery">
                                    <img src="/website/img/gallery.png" alt="">
                                </div>
                            </div>
                        </nav>
                        <nav>
                            <div class="flex_gallery">
                                <div class="row_gallery">
                                    <img src="/website/img/gallery.png" alt="">
                                </div>
                                <div class="row_gallery">
                                    <img src="/website/img/gallery.png" alt="">
                                </div>
                                <div class="row_gallery">
                                    <img src="/website/img/gallery.png" alt="">
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
