<div class="profil_title">
    <div class="container">
        <div class="road">
            <a href="#">Profil / </a>
            <b>Student</b>
        </div>
        <div class="id_pupil">
            <div class="left">
                <img src="/website/img/profil.png" alt="">
            </div>
            <div class="right">
                <h1><%= user.name  %> </h1>
                <h2>UID: <%= user.uid %> </h2> 
            </div>
        </div>
    </div>
</div>

<div class="new_center_info">
    <div class="container">
        <div class="row">
            <div class="col-md-12 order-1 order-md-2">
               
                <h1 class="info_center">Sizning test natijalaringiz</h1>
                <div class="tab_index_all">
                    <ul>
                        <li class="activ">Sizning kurslaringiz bo'yicha</li>
                        <li>Blokli</li>
                        <li>Variant</li>
                        <li>Sinf</li>
                        <li>Mavzuli</li>
                    </ul>
                    <div class="tab_con">
                        <nav class="active_nav">
                           <h3>Sizning kurslaringiz bo'yicha</h3>
                           <select class="form-select select-result" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>

                          <div class="table-responsive table-bordered">
                            <table class="table table-hover">
                                <thead class="table-dark">
                                    <tr>
                                      <th scope="col">#</th>
                                      <th scope="col">First</th>
                                      <th scope="col">Last</th>
                                      <th scope="col">Handle</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <th >1</th>
                                      <td>Mark</td>
                                      <td>Otto</td>
                                      <td>@mdo</td>
                                    </tr>
                                    <tr>
                                      <th >2</th>
                                      <td>Jacob</td>
                                      <td>Thornton</td>
                                      <td>@fat</td>
                                    </tr>
                                    <tr>
                                      <th>3</th>
                                      <td>Larry</td>
                                      <td>the Bird</td>
                                      <td>@twitter</td>
                                    </tr>
                                  </tbody>
                            </table>
                          </div>
                        </nav>
                        
                        <nav>
                          <h1>Blokli</h1>
                        </nav>
                        
                        <nav>
                            <h1>Variant</h1>
                        </nav>
                        
                        <nav>
                           <h1>Sinf</h1>
                        </nav>

                        <nav>
                            <h1>Mavzuli</h1>
                         </nav>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>




