<div class="new_center_title">
    <div class="container">
        <!-- <a href="#" class="away">O'quv markazlari</a> -->
        <div class="title">
            <span>
                <img src="/website/img/centers.png" alt="">
            </span>
            <h1>KELAJAK.BIZ</h1>
        </div>
    </div>
</div>

<div class="new_center_info">
    <div class="container">
        <div class="row">
            <div class="col-md-12 order-1 order-md-2">
               
                <h1 class="info_center"> Test ishlash</h1>
                <div class="tab_index_all">
                    <ul>
                        <li class="activ">Barcha bo'limlar</li>
                        
                    </ul>
                    <div class="tab_con">
                        <nav class="active_nav">
                            <div class="flex_cours">



                                <div class="row_cours">
                                    <div class="img">
                                        <div class="green_hover"></div>
                                        <div class="type"><b>Testlar</b></div>
                                        <img src="/website/img/home-img1.jpeg" alt="">
                                    </div>
                                    <div class="text">
                                        <h2><a style="font-size: 18px;" href="/themed">Mavzulashtirilgan testlar</a></h2>
                                        <div class="bottom">
                                            <h4>Testlar soni: <span>125</span></h4>
                                        </div>
                                    </div>
                                </div>


                                <div class="row_cours">
                                    <div class="img">
                                        <div class="green_hover"></div>
                                        <div class="type"><b>Testlar</b></div>
                                        <img src="/website/img/home-img1.jpeg" alt="">
                                    </div>
                                    <div class="text">
                                        <h2><a style="font-size: 18px;" href="/formed">Sinflashtirilgan testlar</a></h2>
                                        <div class="bottom">
                                            <h4>Testlar soni: <span>125</span></h4>
                                        </div>
                                    </div>
                                </div>


                                <div class="row_cours">
                                    <div class="img">
                                        <div class="green_hover"></div>
                                        <div class="type"><b>Testlar</b></div>
                                        <img src="/website/img/home-img1.jpeg" alt="">
                                    </div>
                                    <div class="text">
                                        <h2><a style="font-size: 18px;" href="/varianted">Variantlashtirlgan testlar</a></h2>
                                        <div class="bottom">
                                            <h4>Testlar soni: <span>125</span></h4>
                                        </div>
                                    </div>
                                </div>


                                <div class="row_cours">
                                    <div class="img">
                                        <div class="green_hover"></div>
                                        <div class="type"><b>Testlar</b></div>
                                        <img src="/website/img/home-img1.jpeg" alt="">
                                    </div>
                                    <div class="text">
                                        <h2><a style="font-size: 18px;" href="/blocked">Blokli testlar</a></h2>
                                        <div class="bottom">
                                            <h4>Testlar soni: <span>125</span></h4>
                                        </div>
                                    </div>
                                </div>



                                
                                
                            </div>
                        </nav>
                        
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
